.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  flex-grow: 1;
}

.main {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 100%;
  padding-top: 5.5rem;
  position: relative;

  @media (max-width: 48rem) {
    padding-top: 3.25rem;
  }
}

.main > * {
  min-height: calc(100vh - 10.5rem);
  @media (max-width: 48rem) {
    min-height: calc(100vh - 10.75rem);
  }
}

.dm--button-position {
  position: fixed;
  min-height: 0;
  bottom: 6rem;
  right: 2.25rem;
  z-index: 100;
}

.alarm--button-position {
  position: fixed;
  min-height: 0;
  top: 6rem;
  right: 17rem;
  z-index: 100;
}
