.sidebar {
  min-height: calc(100vh - 88px);
  width: 18.75rem;
  background-color: var(--tertiary);
  border-right: 1px solid var(--gray2-50);
  padding: var(--sp-8) var(--sp-5);
  box-sizing: border-box;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateX(0);
}

.sidebar--closed {
  transform: translateX(-100%);
}

.toggleButton {
  display: none;
  position: absolute;
  top: var(--sp-1);
  left: var(--sp-2);
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  border-radius: 50%;
  color: var(--black);
  border: none;
  font-size: var(--fs-lg);
  cursor: pointer;
}

.sidebar__title {
  font-size: var(--fs-xl);
  font-weight: bold;
  margin-bottom: var(--sp-2);
  color: var(--secondary);
}

.sidebar__divider {
  border: none;
  border-top: 1px solid var(--black);
  margin-bottom: var(--sp-6);
}

.sidebar__list {
  display: flex;
  flex-direction: column;
  gap: var(--sp-5);
  font-size: var(--fs-md);
}

.active {
  color: var(--primary);
  font-weight: bold;
  border-left: 4px solid var(--primary);
  padding-left: var(--sp-2);
}

@media (max-width: 1024px) {
  .sidebar {
    position: absolute;
    left: 0;
    top: 0;
    width: 250px;
    height: 100%;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 10;
  }

  .toggleButton {
    display: block;
    z-index: 11;
  }
  .sidebar__title {
    margin-top: var(--sp-3);
  }
}

@media (max-width: 768px) {
  .sidebar {
    width: 220px;
    padding: auto;
  }

  .sidebar__title {
    font-size: var(--fs-lg);
  }
  .sidebar__list {
    gap: var(--sp-4);
  }
}

@media (max-width: 40rem) {
  .sidebar {
    width: 200px;
  }

  .sidebar__divider {
    margin-bottom: var(--sp-4);
  }
  .sidebar__list {
    font-size: var(--fs-sm);
    gap: var(--sp-3);
  }
}
