.sidebar {
  min-height: calc(100vh - 88px);
  width: 300px;
  background-color: var(--tertiary);
  border-right: 1px solid var(--gray2-50);
  padding: var(--sp-8) var(--sp-6);
  padding-top: 50px;
  box-sizing: border-box;
  transition: transform 0.3s cubic-bezier(0.4,0,0.2,1);
  transform: translateX(0);
}

.sidebar--closed {
  transform: translateX(-100%);
}

.toggleButton {
  display: none;
  position: absolute;
  top: 55px;
  left: 20px;
  z-index: 1100;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: var(--primary);
  color: #fff;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.sidebar__title {
  font-size: var(--fs-xl);
  font-weight: bold;
  margin-bottom: var(--sp-2);
  color: var(--secondary);
}

.sidebar__divider {
  border: none;
  border-top: 1px solid var(--black);
  margin-bottom: var(--sp-6);
}

.sidebar__list {
  display: flex;
  flex-direction: column;
  gap: var(--sp-5);
  font-size: var(--fs-md);
}

.active {
  color: var(--primary);
  font-weight: bold;
  border-left: 4px solid var(--primary);
  padding-left: var(--sp-2);
}

@media (max-width: 1024px) {
  .sidebar {
    width: 250px;
    padding-top: 170px;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    transition: transform 0.3s cubic-bezier(0.4,0,0.2,1);
    z-index: 10;
  }

  .toggleButton {
    display: block;
    z-index: 1000;
    top: 400px;
    left: 5px;
  }
}

@media (max-width: 768px) {
  .sidebar {
    width: 220px;
    position: absolute;
    padding-top: 100px;
  }

  .toggleButton {
    top: 370px;
    left: 5px;
  }

  .sidebar__title {
    font-size: var(--fs-xs);
  }
  .sidebar__divider {
    margin-bottom: var(--sp-4);
  }
  .sidebar__list {
    font-size: var(--fs-xs);
    gap: var(--sp-3);
  }
}

@media (max-width: 640px) {
  .sidebar {
    width: 200px;
    position: absolute;
    min-height: auto;
  }

  .toggleButton {
    top: 300px;
    left: 5px;
  }

  .sidebar__title {
    font-size: var(--fs-sm);
  }
  .sidebar__divider {
    margin-bottom: var(--sp-4);
  }
  .sidebar__list {

    gap: var(--sp-3);
  }
}
