.container {
  display: flex;
  flex-direction: column;
  gap: var(--sp-10);
}

.section {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.title {
  font-size: var(--fs-lg);
  font-weight: bold;
}

.item {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  gap: var(--sp-2);
  padding: var(--sp-3) 0;
  border-bottom: 1px solid var(--gray);
  transition: 0.2s ease;
}

.left {
  display: flex;
  flex: 1;
  align-items: flex-start;
  gap: var(--sp-3);
  min-width: 0;

  & > strong {
    flex: 0 0 auto;
  }

  & > div {
    min-width: 0;
    flex: 1 1 auto;
  }
}

.itemTitle {
  font-weight: bold;
  color: var(--black);
  width: auto;
  margin-bottom: var(--sp-1);
  word-break: break-word;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.itemContent {
  font-size: var(--fs-sm);
  color: var(--black);
  word-break: break-word;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.date {
  flex: 0 0 auto;
  font-size: var(--fs-sm);
  color: var(--gray);
}

.item:hover .itemTitle,
.item:hover .itemContent,
.item:hover .date {
  color: var(--primary);
  cursor: pointer;
}

/* 반응형: PC 이하 (1024px 이하) */
@media (max-width: 1024px) {
  .container {
    gap: var(--sp-8);
  }
  .itemContent {
    max-width: 400px;
  }
}

/* 반응형: 태블릿 이하 (768px 이하) */
@media (max-width: 768px) {
  .container {
    gap: var(--sp-6);
  }
  .item {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--sp-2);
    padding-bottom: var(--sp-7);
  }
  .left {
    width: 100%;
  }
  .itemContent {
    max-width: unset;
    font-size: var(--fs-xs);
  }
  .date {
    position: absolute;
    right: 0;
    bottom: var(--sp-1);
    font-size: var(--fs-xs);
  }
}

/* 반응형: 모바일 이하 (640px 이하) */
@media (max-width: 640px) {
  .container {
    gap: var(--sp-4);
  }
  .title {
    font-size: var(--fs-md);
  }
}
