.profile {
  display: flex;
  flex-direction: column;
  gap: var(--sp-8);
  padding: var(--sp-8);
}

.profile__content {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--sp-6);
}

.profile__title {
  font-size: var(--fs-xl);
  font-weight: bold;
  margin-bottom: var(--sp-4);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile__btnWrap {
  margin: 0;
}

.profile__imageSection {
  display: flex;
  align-items: flex-start;
  gap: var(--sp-6);
  margin-left: var(--sp-16);
}

.profile__greeting {
  font-size: var(--fs-md);
  line-height: 1.4;
  margin: 0;
}

.profile__divider {
  margin: var(--sp-8) 0;
  border: 1px solid var(--gray);
}

.profile__details {
  display: flex;
  flex-direction: column;
  gap: var(--sp-4);
  padding: var(--sp-6);
  background-color: var(--gray2);
  border-radius: var(--sp-2);
  box-shadow: var(--bs-drop);
}

.profile__details p {
  font-size: var(--fs-md);
  color: var(--black);
  margin: 0;
}

.profile__details strong {
  font-weight: bold;
  color: var(--black);
}
