.dm-chat-list-item {
  width: 100%;
  padding: var(--sp-2);
  display: flex;
  gap: var(--sp-2);
  align-items: center;
  min-width: 0;
  cursor: pointer;
}

.dm-chat-list-item-left-profile {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.dm-chat-list-item-right {
  display: flex;
  flex-direction: column;
  gap: var(--sp-1);
  width: 100%;
  min-width: 0;
  flex: 1;
}

.dm-chat-list-item-right span {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  min-width: 0;
}

.name {
  font-size: var(--fs-xs);
  font-weight: 500;
}
.last-message {
  font-size: 0.625rem;
  font-weight: 400;
}
