.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--gray2);
}

.login__card {
  position: relative;
  background: var(--white);
  padding: var(--sp-6);
  border-radius: var(--sp-3);
  text-align: center;
  max-width: 400px;
  width: 90%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login__button--back {
  position: absolute;
  top: var(--sp-4);
  left: var(--sp-4);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 1px solid var(--gray-300);
  border-radius: var(--sp-2);
  cursor: pointer;
  transition: 0.2s;
}

.login__title {
  font-size: var(--fs-xl);
  color: var(--primary);
  margin-bottom: var(--sp-4);
}

.login__description {
  font-size: var(--fs-sm);
  margin-bottom: var(--sp-6);
  line-height: 1.6;
}

.login__buttons {
  display: flex;
  flex-direction: column;
  gap: var(--sp-3);
}

.login__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--sp-3) var(--sp-4);
  border: 1px solid var(--primary);
  border-radius: var(--sp-2);
  font-size: var(--fs-sm);
  cursor: pointer;
  color: var(--primary);
  background-color: var(--teritiary-80);
  transition: 0.2s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  &:hover {
    background-color: var(--primary);
    color: var(--white);
    transform: translateY(-2px);
  }

  &:active {
    transform: translateY(0);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }
}

.login__button--icon {
  width: 20px;
  height: 20px;
  margin-right: var(--sp-2);
}
