.uploader--error {
  .uploader__txt {
    color: var(--danger);
  }
}

.uploader__cont {
  display: flex;
  align-items: flex-end;
  position: relative;
  gap: var(--sp-2);
}

.uploader__txt {
  margin-bottom: var(--sp-2);
}

.uploader__fileList {
  display: flex;
  flex-direction: column;
  gap: var(--sp-2);
  padding: 0.8125rem 1rem;
  width: 100%;
  min-height: 3rem;
  border: 1px solid var(--gray);
  border-radius: 0.25rem;

  > li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 1.2;

    .uploader__fileName {
      width: calc(100% - 1.5rem);
    }
    .uploader__deleteBtn {
      width: 1.5rem;
      height: 1.5rem;
      background: url(../../assets/icon/close-circle-red.svg) no-repeat
        center/contain;
    }

    &.notice {
      color: #757575;
    }
  }
}

.uploader__btn {
  height: 3rem;
}
