.footer {
  width: 100%;
  min-height: 5rem;
  background-color: var(--white);
  border-top: 1px solid var(--primary-50);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: var(--sp-3);
}

.footer__inner {
  width: 100%;
  max-width: 75rem;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-end;
  justify-content: space-between;
}

.footer__left {
  width: 30%;
  p {
    font-size: var(--fs-xs);
  }
}

.footer__middle{
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  translate: -50% 0;
  width: 6.25rem;
}

.footer__right {
  display: flex;
  justify-content: flex-end;
  width: 30%;
  gap: var(--sp-5);
  p {
      font-size: var(--fs-xs);
  }
}


