.textarea-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;

  label {
    margin-bottom: var(--sp-2);
    font-size: var(--fs-sm);
    font-weight: 400;
  }

  textarea {
    padding: 13px 16px;
    height: 13.625rem;
    font-size: var(--fs-sm);
    border-radius: 4px;
    border: 1px solid var(--gray);

    &:read-only {
      background-color: var(--gray2);
      color: var(--gray);
    }
  }
}

.textarea-wrap--err {
  textarea {
    border: 0.0625rem solid var(--danger);
    background-color: var(--danger-20);
  }
}
