*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  /* --- 컬러 --- */
  --primary: rgba(53, 87, 73, 1);
  --primary-80: rgba(53, 87, 73, 0.8);
  --primary-50: rgba(53, 87, 73, 0.5);

  --secondary: rgba(37, 61, 56, 1);
  --secondary-80: rgba(37, 61, 56, 0.8);
  --secondary-50: rgba(37, 61, 56, 0.5);

  --teritiary: rgba(230, 255, 250, 1);
  --teritiary-80: rgba(230, 255, 250, 0.8);
  --teritiary-50: rgba(230, 255, 250, 0.5);

  --fourth: rgba(205, 255, 244, 1);
  --fourth-80: rgba(205, 255, 244, 0.8);
  --fourth-50: rgba(205, 255, 244, 0.5);

  --gray: rgba(117, 117, 117, 1);
  --gray-80: rgba(117, 117, 117, 0.8);
  --gray-50: rgba(117, 117, 117, 0.5);

  --gray2: rgba(246, 246, 248, 1);
  --gray2-80: rgba(246, 246, 248, 0.8);
  --gray2-50: rgba(246, 246, 248, 0.5);

  --danger: rgba(239, 68, 68, 1);

  --black: rgba(0, 0, 0, 1);

  --white: rgba(255, 255, 255, 1);

  /* --- 간격 (rem 기준) --- */
  --sp-0: 0rem;     /* 0px */
  --sp-1: 0.25rem;  /* 4px */
  --sp-2: 0.5rem;   /* 8px */
  --sp-3: 0.75rem;  /* 12px */
  --sp-4: 1rem;     /* 16px */
  --sp-5: 1.5rem;   /* 24px */
  --sp-6: 2rem;     /* 32px */
  --sp-7: 3rem;     /* 48px */
  --sp-8: 4rem;     /* 64px */

  /* --- font-size (rem 기준)  --- */
  --fs-xxl: 3rem;    /* 48px */
  --fs-xl: 2rem;    /* 32px */
  --fs-lg: 1.5rem;  /* 24px */
  --fs-md: 1.25rem;  /* 20px */
  --fs-sm: 1rem;    /* 16px */
  --fs-xs: 0.875rem;/* 14px */
}

@font-face {
  font-family: 'Pretendard';
  src: url('./fonts/PretendardVariable.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Pretendard', sans-serif;
  color: var(--black);
  line-height: 1.4;
  font-size: 1rem;
}
